In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
stu_info = pd.read_csv('data/studentInfo.csv')

In [11]:
stu_info.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

# Preprocessing

In [12]:
stu_info.drop(['code_module', 'code_presentation'], axis=1, inplace=True)

In [13]:
stu_info.head()

,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [15]:
stu_info.final_result.replace(to_replace=dict(Pass=1, Distinction=1, Fail=0, Withdrawn=0), inplace=True)

In [24]:
stu_info['gender'] = (stu_info['gender']=='M').astype(int)

In [26]:
stu_info['disability'] = (stu_info['disability']=='Y').astype(int)

In [27]:
stu_info.head()

,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,11391,1,East Anglian Region,HE Qualification,90-100%,55<=,0,240,0,1
1,28400,0,Scotland,HE Qualification,20-30%,35-55,0,60,0,1
2,30268,0,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,1,0
3,31604,0,South East Region,A Level or Equivalent,50-60%,35-55,0,60,0,1
4,32885,0,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,0,1

In [17]:
stu_info['region'].unique()

array(['East Anglian Region', 'Scotland', 'North Western Region',
       'South East Region', 'West Midlands Region', 'Wales',
       'North Region', 'South Region', 'Ireland', 'South West Region',
       'East Midlands Region', 'Yorkshire Region', 'London Region'],
      dtype=object)

In [18]:
stu_info['highest_education'].unique()

array(['HE Qualification', 'A Level or Equivalent', 'Lower Than A Level',
       'Post Graduate Qualification', 'No Formal quals'], dtype=object)

In [19]:
stu_info['imd_band'].unique()

array(['90-100%', '20-30%', '30-40%', '50-60%', '80-90%', '70-80%', nan,
       '60-70%', '40-50%', '10-20', '0-10%'], dtype=object)

In [20]:
stu_info['age_band'].unique()

array(['55<=', '35-55', '0-35'], dtype=object)

In [28]:
cat_vars = ['region','highest_education','imd_band','age_band']
for var in cat_vars:
    cat_list = 'var' + '_' + var
    cat_list = pd.get_dummies(stu_info[var], prefix=var)
    stu_info1 = stu_info.join(cat_list)
    stu_info = stu_info1

In [29]:
stu_info.head()

,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,...,imd_band_30-40%,imd_band_40-50%,imd_band_50-60%,imd_band_60-70%,imd_band_70-80%,imd_band_80-90%,imd_band_90-100%,age_band_0-35,age_band_35-55,age_band_55<=
0,11391,1,East Anglian Region,HE Qualification,90-100%,55<=,0,240,0,1,...,0,0,0,0,0,0,1,0,0,1
1,28400,0,Scotland,HE Qualification,20-30%,35-55,0,60,0,1,...,0,0,0,0,0,0,0,0,1,0
2,30268,0,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,1,0,...,1,0,0,0,0,0,0,0,1,0
3,31604,0,South East Region,A Level or Equivalent,50-60%,35-55,0,60,0,1,...,0,0,1,0,0,0,0,0,1,0
4,32885,0,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,0,1,...,0,0,1,0,0,0,0,1,0,0

In [31]:
info_vars = stu_info.columns.values.tolist()
to_keep = [i for i in info_vars if i not in cat_vars]

In [32]:
stuinfo_final = stu_info[to_keep]
stuinfo_final.columns.values

array(['id_student', 'gender', 'num_of_prev_attempts', 'studied_credits',
       'disability', 'final_result', 'region_East Anglian Region',
       'region_East Midlands Region', 'region_Ireland',
       'region_London Region', 'region_North Region',
       'region_North Western Region', 'region_Scotland',
       'region_South East Region', 'region_South Region',
       'region_South West Region', 'region_Wales',
       'region_West Midlands Region', 'region_Yorkshire Region',
       'highest_education_A Level or Equivalent',
       'highest_education_HE Qualification',
       'highest_education_Lower Than A Level',
       'highest_education_No Formal quals',
       'highest_education_Post Graduate Qualification', 'imd_band_0-10%',
       'imd_band_10-20', 'imd_band_20-30%', 'imd_band_30-40%',
       'imd_band_40-50%', 'imd_band_50-60%', 'imd_band_60-70%',
       'imd_band_70-80%', 'imd_band_80-90%', 'imd_band_90-100%',
       'age_band_0-35', 'age_band_35-55', 'age_band_55<='], dtype=object)

In [33]:
stuinfo_final.head()

,id_student,gender,num_of_prev_attempts,studied_credits,disability,final_result,region_East Anglian Region,region_East Midlands Region,region_Ireland,region_London Region,...,imd_band_30-40%,imd_band_40-50%,imd_band_50-60%,imd_band_60-70%,imd_band_70-80%,imd_band_80-90%,imd_band_90-100%,age_band_0-35,age_band_35-55,age_band_55<=
0,11391,1,0,240,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,28400,0,0,60,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,30268,0,0,60,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,31604,0,0,60,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,32885,0,0,60,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [34]:
stuinfo_final_vars = stuinfo_final.columns.values.tolist()
Y = ['final_result']
X = [i for i in stuinfo_final_vars if i not in Y ]

# Feature Selection

In [37]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [51]:
model = LogisticRegression()

rfe = RFE(model, 15)
rfe = rfe.fit(stuinfo_final[X], stuinfo_final[Y] )
print(rfe.support_)
print(rfe.ranking_)

//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

[False False  True False False False False False False False False False
 False False False False False False  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True False False False]
[22  6  1 21  2 13 16  5 12 14 11 20  8 10  9 18 17 15  1  1  7  1  1  1
  1  1  1  1  1  1  1  1  1 19  4  3]

In [52]:
select_cols = [col for i, col in enumerate(X) if rfe.support_[i] == True]

In [53]:
select_cols

['num_of_prev_attempts',
 'highest_education_A Level or Equivalent',
 'highest_education_HE Qualification',
 'highest_education_No Formal quals',
 'highest_education_Post Graduate Qualification',
 'imd_band_0-10%',
 'imd_band_10-20',
 'imd_band_20-30%',
 'imd_band_30-40%',
 'imd_band_40-50%',
 'imd_band_50-60%',
 'imd_band_60-70%',
 'imd_band_70-80%',
 'imd_band_80-90%',
 'imd_band_90-100%']

# Log Reg

In [54]:
Y = stuinfo_final['final_result']

In [55]:
X = stuinfo_final.drop(['final_result'], axis=1)

In [60]:
import statsmodels.api as sm
logit_model=sm.Logit(Y,X)
result=logit_model.fit()
print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.654991
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:           final_result   No. Observations:                32593
Model:                          Logit   Df Residuals:                    32559
Method:                           MLE   Df Model:                           33
Date:                Tue, 05 Nov 2019   Pseudo R-squ.:                 0.05291
Time:                        18:22:11   Log-Likelihood:                -21348.
converged:                      False   LL-Null:                       -22541.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================================
                                                    coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
id_student                                     2.738e-08   2.15e-08      1.272      0.203   -1.48e-08    6.96e-08
gender                                           -0.1714      0.023     -7.315      0.000      -0.217      -0.125
num_of_prev_attempts                             -0.3646      0.027    -13.407      0.000      -0.418      -0.311
studied_credits                                  -0.0065      0.000    -21.041      0.000      -0.007      -0.006
disability                                       -0.2616      0.040     -6.496      0.000      -0.340      -0.183
region_East Anglian Region                        0.2035   1.45e+06   1.41e-07      1.000   -2.84e+06    2.84e+06
region_East Midlands Region                       0.1620   1.45e+06   1.12e-07      1.000   -2.84e+06    2.84e+06
region_Ireland                                    0.3249   1.45e+06   2.24e-07      1.000   -2.84e+06    2.84e+06
region_London Region                              0.0773   1.45e+06   5.34e-08      1.000   -2.84e+06    2.84e+06
region_North Region                               0.0824   1.45e+06   5.69e-08      1.000   -2.84e+06    2.84e+06
region_North Western Region                       0.0357   1.45e+06   2.46e-08      1.000   -2.84e+06    2.84e+06
region_Scotland                                   0.1199   1.45e+06   8.28e-08      1.000   -2.84e+06    2.84e+06
region_South East Region                          0.3112   1.45e+06   2.15e-07      1.000   -2.84e+06    2.84e+06
region_South Region                               0.2580   1.45e+06   1.78e-07      1.000   -2.84e+06    2.84e+06
region_South West Region                          0.2855   1.45e+06   1.97e-07      1.000   -2.84e+06    2.84e+06
region_Wales                                      0.1406   1.45e+06   9.71e-08      1.000   -2.84e+06    2.84e+06
region_West Midlands Region                       0.1251   1.45e+06   8.64e-08      1.000   -2.84e+06    2.84e+06
region_Yorkshire Region                           0.1687   1.45e+06   1.16e-07      1.000   -2.84e+06    2.84e+06
highest_education_A Level or Equivalent           0.7105   1.09e+06   6.52e-07      1.000   -2.14e+06    2.14e+06
highest_education_HE Qualification                0.7789   1.09e+06   7.14e-07      1.000   -2.14e+06    2.14e+06
highest_education_Lower Than A Level              0.1583   1.09e+06   1.45e-07      1.000   -2.14e+06    2.14e+06
highest_education_No Formal quals                -0.1272   1.09e+06  -1.17e-07      1.000   -2.14e+06    2.14e+06
highest_education_Post Graduate Qualification     0.7744   1.09e+06    7.1e-07      1.000   -2.14e+06    2.14e+06
imd_band_0-10%                                   -1.1526      0.087    -13.247      0.000      -1.323      -0.982
imd_band_10-20                                   -1.0491      0.086    -12.244      0.000      -1.217      -0.881
imd_band_20-30%                                  -0.9732      0.086    -11.313      0.000      -1.142      -0.805
imd_band_30-40%                                  -0.7627      0.086     -8.850      0.000      -0.932      -0.594
imd_band_40-50%                                  -0.8032      0.087     -9.244      0.000      -0.974      -0.633
imd_band_50-60%                                  -0.7369      0.087     -8.441      0.000      -0.908      -0.566
imd_band_60-70%                                  -0.6259      0.088     -7.125      0.000      -0.798      -0.454
imd_band_70-80%                                  -0.6566      0.088     -7.477      0.000      -0.829      -0.484
imd_band_80-90%                                  -0.5499      0.088     -6.231      0.000      -0.723      -0.377
imd_band_90-100%                                 -0.4543      0.090     -5.063      0.000      -0.630      -0.278
age_band_0-35                                     0.6010        nan        nan        nan         nan         nan
age_band_35-55                                    0.8000        nan        nan        nan         nan         nan
age_band_55<=                                     0.8938        nan        nan        nan         nan         nan
=================================================================================================================

//anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
//anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1357: RuntimeWarning: invalid value encountered in sqrt
  bse_ = np.sqrt(np.diag(self.cov_params()))
//anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
//anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
//anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [61]:
from sklearn import linear_model
clf = linear_model.LogisticRegression()
clf.fit(X, Y)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [62]:
clf.score(X,Y)

0.5427238977694597