In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
stu_vle = pd.read_csv('data/stvl_ccc14b.csv')
stu_as = pd.read_csv('data/stas_ccc14b.csv')
ass = pd.read_csv('data/ass_ccc14b.csv')
vle = pd.read_csv('data/vle_ccc14b.csv')
stu_info = pd.read_csv('data/stuinfo_ccc14b.csv')
stu_reg = pd.read_csv('data/stureg_ccc14b.csv')

In [4]:
stu_info.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,CCC,2014B,28418,F,West Midlands Region,A Level or Equivalent,20-30%,0-35,0,30,N,Fail
1,CCC,2014B,29764,M,East Anglian Region,A Level or Equivalent,50-60%,0-35,0,90,N,Distinction
2,CCC,2014B,29820,M,East Anglian Region,HE Qualification,40-50%,0-35,0,60,N,Pass
3,CCC,2014B,40333,M,North Region,HE Qualification,0-10%,35-55,0,30,N,Withdrawn
4,CCC,2014B,40604,M,Ireland,A Level or Equivalent,NaN,35-55,0,30,N,Pass

In [10]:
stu_info['highest_education']

0             A Level or Equivalent
1             A Level or Equivalent
2                  HE Qualification
3                  HE Qualification
4             A Level or Equivalent
5                  HE Qualification
6                  HE Qualification
7                  HE Qualification
8                  HE Qualification
9                  HE Qualification
10               Lower Than A Level
11               Lower Than A Level
12            A Level or Equivalent
13            A Level or Equivalent
14            A Level or Equivalent
15                 HE Qualification
16            A Level or Equivalent
17               Lower Than A Level
18                  No Formal quals
19               Lower Than A Level
20                 HE Qualification
21                 HE Qualification
22               Lower Than A Level
23            A Level or Equivalent
24            A Level or Equivalent
25                 HE Qualification
26            A Level or Equivalent
27               Lower Than A Level
28                 HE Qualification
29            A Level or Equivalent
                   ...
1906          A Level or Equivalent
1907          A Level or Equivalent
1908          A Level or Equivalent
1909          A Level or Equivalent
1910          A Level or Equivalent
1911               HE Qualification
1912          A Level or Equivalent
1913          A Level or Equivalent
1914             Lower Than A Level
1915          A Level or Equivalent
1916             Lower Than A Level
1917    Post Graduate Qualification
1918    Post Graduate Qualification
1919             Lower Than A Level
1920               HE Qualification
1921             Lower Than A Level
1922          A Level or Equivalent
1923          A Level or Equivalent
1924          A Level or Equivalent
1925    Post Graduate Qualification
1926             Lower Than A Level
1927             Lower Than A Level
1928          A Level or Equivalent
1929          A Level or Equivalent
1930          A Level or Equivalent
1931             Lower Than A Level
1932          A Level or Equivalent
1933          A Level or Equivalent
1934               HE Qualification
1935             Lower Than A Level
Name: highest_education, Length: 1936, dtype: object